<section id="api-details">

    <div class="input-group">
        <label for="api-name" class="lbl">Name</label>
        <input id="api-name" class="form-control input-lg" data-gom-model="name" type="text" name="caption" />
    </div>
    <div class="input-group">
        <label for="api-reference-id" class="lbl">Reference ID</label>
        <input id="api-reference-id" class="form-control input-lg" disabled="disabled" data-gom-model="id" />
    </div>
    <div class="input-group">
        <label for="api-description" class="lbl">Description</label>
<textarea id="api-description" class="form-control input-lg" type="text" data-gom-model="description"></textarea>
    </div>

</section>

