<section id="api-details" class="model-section inverted">
    <div class="inline model-item">
        <label class="label">Name</label>
        <input data-gom-model="name" type="text" maxlength="20" />
    </div>
    <div class="inline model-item">
        <label class="label">Reference ID</label>
        <span data-gom-model="id"></span>
    </div>

    <div class="inline model-item">
        <label class="label">Description</label>
        <input type="text" data-gom-model="description"></input>
    </div>
</section>
