



<div id="sandboxModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                Sandbox
                <span data-gom-dismiss="modal" class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="model-section">
                <div class="model-item inline">
                    <button class="btn btn-primary btn-md js-runSandbox">Run</button>
                </div>
            </div>

            <div class="model-section">
                <div class="model-item inline">
                    <div class="model-item">
                        <label class="label">Layers</label>
                        <input class="js-layersSandbox" type="text" name="layers" />
                    </div>
                    <div class="model-item">
                        <label class="label">Weights value</label>
                        <input class="js-weightsSandbox" type="text" name="weights" />
                    </div>
                    <div class="model-item">
                        <label class="label">Bias value</label>
                        <input class="js-biasSandbox" type="text" name="bias" />
                    </div>
                    <div class="model-item">
                        <label class="label">Input</label>
                        <input class="js-inputSandbox" type="text" name="input" />
                    </div>
                </div>
                <div class="model-item inline">
                    <pre class="json-result"></pre>
                </div>
            </div>


            
        </div>
    </div>

</div>
