



<div id="sandboxModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                Sandbox
                <span data-gom-dismiss="modal" class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="model-section">
                <div class="model-item inline">
                    <button class="btn btn-primary btn-md js-runSandbox">Run</button>
                </div>
            </div>

            <div class="model-section">
                <div class="model-item inline">
                    <input class="js-layersSandbox" type="text" name="layers" />
                </div>
            </div>

            <div class="model-section">
                <pre class="json-result"></pre>
            </div>
        </div>
    </div>

</div>
