

<div id="datasetDesigner" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                Dataset designer
                <span data-gom-dismiss="modal" class="glyphicon glyphicon-remove"></span>
            </div>
            <section class="data-inspector">
                <table id="table-viewer" class="rtable rtable--flip"></table>
                <table id="numerized-table" class="rtable rtable--flip"></table>
            </section>

            Content
        </div>
    </div>

</div>
