

label {
    color: $bright-blue;
}




.inverted {
    input, textarea {
        color: $white;
        /*border-bottom: 1px solid $white;*/
    }


    label {
        color: $white-blue;
    }

    select {
        color: $white;
    }
}


input, textarea {
    /*background: $almost-white;*/
    height: 32px;
    font-size: 14px;
    color: $dark-blue;
    max-width: 100%;
    border: transparent;
    /*border-bottom: 1px solid $dark-blue;*/
    padding: 0 2px;
    background: transparent;

    &:focus {
        outline: none !important;
    }

    &:disabled {
        background: transparent;
        color: $dark-grey;
    }
}

select {
    border: none;
    background: transparent !important;
    color: $white;
}

input[type="file"].file-upload-def {
    /*display: none;*/
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
}
