

label {
    font-size: 18px;
    color: $bright-blue;
}

input {
    /*background: $almost-white;*/
    height: 32px;
    font-size: 24px;
    color: $black;
    max-width: 100%;
    border: transparent;
    border-bottom: 1px solid $grey;
    padding: 0 2px;

    &:focus {
        outline: none !important;
    }

    &:disabled {
        background: transparent;
        color: $dark-grey;
    }
}

input[type="file"].file-upload-def {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
}
