
@{
    ViewBag.Title = "NeuralNetwork";
}

@Html.Partial("Partials/_ApiDetails")



<div class="file-inspector model-section">
    <div id="trainingSet" class="model-item inline">
        <label class="label">Training set</label>
        <input class="file-upload-def" data-gom-file="dataset" type="file" />
    </div>

    <div class="model-item inline">
        <label class="label">Column separator</label>
        <select data-gom-separator="column" class="form-control">
            <option value="0">Semicolon ; </option>
            <option value="1">Comma , </option>
            <option value="2">Dash - </option>
            <option value="3">Tab \t</option>
        </select>
    </div>

    <div class="model-item inline">
        <label class="label">Decimal separator</label>
        <select data-gom-separator="decimal" class="form-control">
            <option value="0">Dot . </option>
            <option value="1">Comma , </option>
        </select>
    </div>
</div>

<section class="data-inspector">
    <table id="table-viewer" class="rtable rtable--flip"></table>
    <table id="numerized-table" class="rtable rtable--flip"></table>
</section>


<section class="model-section inverted">
    <div class="model-item inline">
        <label class="label">Max Epochs</label>
        <input id="max-epochs" type="number" min="0" max="10000" step="50"/>
    </div>
    <div class="model-item inline">
        <label class="label">Learning rate</label>
        <input id="learning-rate" type="number" min="0" max="1" step="0.01"/>
    </div>
    <div class="model-item inline">
        <label class="label">Momentum</label>
        <input id="momentum" type="number" min="0" max="1" step="0.01"/>
    </div>
    <div class="model-item inline">
        <label class="label">Weight Decay</label>
        <input id="weight-decay" type="number" min="0" max="1" step="0.01"/>
    </div>
</section>

<section class="model-section">

    <div class="start-group inline">
        <button class="refresh-btn icon icon-loop2"></button>

        <button class="start-btn icon icon-play3"></button>
        <div class="running-group inline">
            <label class="label">Epochs</label>
            <span>0</span>
        </div>
    </div>

    <div class="status-group inline">
        <div class="inline model-item">
            <label class="label">Train accuracy</label>
            <span>0.00</span>
        </div>
        <div class="inline model-item">
            <label class="label">Test accuracy</label>
            <span>0.00</span>
        </div>
    </div>

</section>

<section class="clearfix model-section flex">
    <section id="btn-wrapper"></section>
    <section id="layer-designer" class=""></section>
</section>









@*<div class="model-inspector">
    <section class="inspector-section">
        <div class="inspector-header">
            Layer parameters
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="container inspector-content">
            <div class="input-group">
                <label for="input-layer">Input</label>
                <input id="input-layer" class="form-control" type="number" />
            </div>
            <div class="input-group">
                <label for="hidden-layer">Hidden</label>
                <input id="hidden-layer" class="form-control" type="number" />
            </div>
            <div class="input-group">
                <label for="output-layer">Output</label>
                <input id="output-layer" class="form-control" type="number" />
            </div>
        </div>
    </section>
    <section class="inspector-section">
        <div class="inspector-header">
            Learning parameters
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="container inspector-content">
            <div class="input-group">
                <label for="max-epochs">Max epochs</label>
                <input id="max-epochs" class="form-control" type="number" />
            </div>
            <div class="input-group">
                <label for="learning-rate">Learning rate</label>
                <input id="learning-rate" class="form-control" type="number" />
            </div>

            <div class="input-group">
                <label for="momentum">Momentum</label>
                <input id="momentum" class="form-control" type="number" />
            </div>
            <div class="input-group">
                <label for="weight-decay">Weight decay</label>
                <input id="weight-decay" class="form-control" type="number" />
            </div>

        </div>
    </section>


</div>*@




@section Scripts {
    <script>

        $(document).ready(function () {
            gom.create.init($("#api-details"));
            neuralNetwork.init();
            $("[data-gom-file='dataset']").change(function () {
                gom.fileManager.uploadDataset("#trainingSet");
            });

        });
    </script>

}
