
@{
    ViewBag.Title = "NeuralNetwork";
}

@Html.Partial("Partials/_ApiDetails")



<div class="file-inspector model-section">
    <button class="btn btn-primary btn-md" data-gom-toggle="modal" data-gom-target="datasetDesigner">Dataset designer</button>
    <button class="btn btn-default btn-sm" data-gom-toggle="modal" data-gom-target="sandboxModal">Sandbox</button>
</div>


<section class="model-section inverted">
    <div class="model-item inline">
        <label class="label">Max Epochs</label>
        <input id="max-epochs" type="number" min="0" max="10000" step="50"/>
    </div>
    <div class="model-item inline">
        <label class="label">Learning rate</label>
        <input id="learning-rate" type="number" min="0" max="1" step="0.01"/>
    </div>
    <div class="model-item inline">
        <label class="label">Momentum</label>
        <input id="momentum" type="number" min="0" max="1" step="0.01"/>
    </div>
    <div class="model-item inline">
        <label class="label">Weight Decay</label>
        <input id="weight-decay" type="number" min="0" max="1" step="0.01"/>
    </div>
</section>

<section class="model-section">

    <div class="start-group inline">
        <button class="refresh-btn icon icon-loop2"></button>

        <button class="start-btn icon icon-play3"></button>
        <div class="running-group inline">
            <label class="label">Epochs</label>
            <span>0</span>
        </div>
    </div>

    <div class="status-group inline">
        <div class="inline model-item">
            <label class="label">Train accuracy</label>
            <span>0.00</span>
        </div>
        <div class="inline model-item">
            <label class="label">Test accuracy</label>
            <span>0.00</span>
        </div>
    </div>

</section>

<section class="clearfix model-section flex">
    <section id="btn-wrapper"></section>
    <section id="layer-designer" class=""></section>
</section>




@section Scripts {
    <script>

        $(document).ready(function () {
            $("body").prepend($.render.TrainingDatasetDesigner());
            $("body").prepend($.render.SandboxModal());
            gom.create.init($("#api-details"));
            neuralNetwork.init();
            sandbox.init($("#sandboxModal"));

            $("[data-gom-file='dataset']").change(function () {
                gom.fileManager.uploadDataset("#trainingSet");
            });
            $("#sandboxModal").modal();
            $("#datasetDesigner").modal();

        });
    </script>

}
