
@{
    ViewBag.Title = "NeuralNetwork";
}

@Html.Partial("Partials/_ApiDetails")

<section class="model-section">

    <div class="start-group inline">
        <button class="refresh-btn icon icon-loop2"></button>

        <button class="start-btn icon icon-play3"></button>
        <div class="running-group inline">
            <label class="label">Epochs</label>
            <span>0</span>
        </div>
    </div>

    <div class="status-group inline">
        <div class="inline model-item">
            <label class="label">Train accuracy</label>
            <span>0.00</span>
        </div>
        <div class="inline model-item">
            <label class="label">Test accuracy</label>
            <span>0.00</span>
        </div>
    </div>

</section>

<section id="layer-designer" class=""></section>

<section class="clearfix model-section flex">
    <div class="file-inspector">
        <div id="trainingSet" class="model-item">
            <label class="label">Training set</label>
            <input class="file-upload-def" data-gom-file="dataset" type="file" />
        </div>

        <div class="model-item">
            <label class="label">Column separator</label>
            <select data-gom-separator="column" class="form-control">
                <option value="0">Semicolon ; </option>
                <option value="1">Comma , </option>
                <option value="2">Dash - </option>
            </select>
        </div>

        <div class="model-item">
            <label class="label">Decimal separator</label>
            <select data-gom-separator="decimal" class="form-control">
                <option value="0">Dot . </option>
                <option value="1">Comma , </option>
            </select>
        </div>
    </div>
    <section id="table-viewer" class="model-section"></section>
</section>









<div class="model-inspector">
    @*<section class="inspector-section">
            <div class="inspector-header">
                <span>Input file</span>
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <div class="container inspector-content">

                <div class="input-group">
                    <div><label>Training set</label></div>
                    <label for="file-upload" class="custom-file-upload">
                        <i class="glyphicon glyphicon-file"></i>Upload file
                    </label>
                    <input class="file-upload-def" data-gom-file="dataset" type="file" />
                </div>

                <div class="input-group">
                    <label>Column separator</label>
                    <select data-gom-separator="column" class="form-control">
                        <option value="0">Semicolon ; </option>
                        <option value="1">Comma , </option>
                        <option value="2">Dash - </option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Decimal separator</label>
                    <select data-gom-separator="decimal" class="form-control">
                        <option value="0">Dot . </option>
                        <option value="1">Comma , </option>
                    </select>
                </div>



            </div>
        </section>*@

    <section class="inspector-section">
        <div class="inspector-header">
            Layer parameters
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="container inspector-content">

            <div class="input-group">
                <label for="input-layer">Input</label>
                <input id="input-layer" class="form-control" type="number" />
            </div>


            <div class="input-group">
                <label for="hidden-layer">Hidden</label>
                <input id="hidden-layer" class="form-control" type="number" />
            </div>


            <div class="input-group">
                <label for="output-layer">Output</label>
                <input id="output-layer" class="form-control" type="number" />
            </div>
        </div>

    </section>

    <section class="inspector-section">
        <div class="inspector-header">
            Learning parameters
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="container inspector-content">

            <div class="input-group">
                <label for="max-epochs">Max epochs</label>
                <input id="max-epochs" class="form-control" type="number" />
            </div>


            <div class="input-group">
                <label for="learning-rate">Learning rate</label>
                <input id="learning-rate" class="form-control" type="number" />
            </div>

            <div class="input-group">
                <label for="momentum">Momentum</label>
                <input id="momentum" class="form-control" type="number" />
            </div>


            <div class="input-group">
                <label for="weight-decay">Weight decay</label>
                <input id="weight-decay" class="form-control" type="number" />
            </div>

        </div>

    </section>


</div>




@section Scripts {
    <script>

        $(document).ready(function () {
            gom.create.init($("#api-details"));
            neuralNetwork.init();
            $("[data-gom-file='dataset']").change(function () {
                console.log("uploading");
                gom.fileManager.uploadDataset("#trainingSet");
            });
        });
    </script>

}
