

<div class="model-tile col-lg-3 col-md-4 col-sm-6">
    <div class="tile-container">
        <div class="white-container">
            <img src="~/Content/assets/images/perceptron.svg" alt="">
            <a class="heading">Neural network</a>
            <div class="info-container">
                <span class="btn btn-hint glyphicon glyphicon-chevron-down"></span>
                <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maiores illo assumenda ipsam minima error saepe enim delectus earum voluptatum quae cum consequuntur dolores quod repellendus, impedit facere pariatur at!
                </div>
            </div>
        </div>
    </div>
</div>