@{ ViewBag.Title = "Create"; }

<div class="model-container">
    @Html.Partial("_model-tile")
    @Html.Partial("_model-tile")
    @Html.Partial("_model-tile")
    @Html.Partial("_model-tile")
    <div class="model-tile-sizer"></div>
</div>


@section Scripts  {
    <script>
        $(document).ready(function () {

            $(".model-container").masonry({
                columnWidth: ".model-tile-sizer",
                itemSelector: ".model-tile",
                percentPosition: true,
            });

            //$(".info-container .btn-hint").on("click", function () {
            //    $(this).toggleClass("active");
            //    $(this).closest(".info-container").toggleClass("active");
            //    $(".model-container").masonry();
            //});

        });
    </script>
}
