#table-viewer {
    text-align: center;
    display: inline-flex;
}



#layer-designer {
    min-height: 500px;

    .node {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }

    .node text {
        font: 12px sans-serif;
    }

    .node--internal text {
        text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    .button-neuron circle, .button-layer circle {
        stroke: $white;
        fill: $white;
        stroke-width: 1px;
    }


    .button-neuron circle.active, .button-layer.active {
        fill: $white;
    }

    .button-neuron circle.active + text, .button-layer circle.active + text {
        fill: $blue;
    }

    .button-neuron .active, .button-neuron .pressed, .button-layer .active, .button-layer .active {
        stop-color: $dark-blue;
        /*stroke: $white;
        fill: $white;*/
    }

    .button-neuron text, .button-layer text {
        font-size: 22px;
        fill: $dark-blue;
        pointer-events: none;
        text-anchor: middle;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}
