#layer-designer {
    min-height: 500px;

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }

    .node text {
        font: 12px sans-serif;
    }

    .node--internal text {
        text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    .button rect {
        stroke: $dark-blue; /* navy 40% */
        fill: $dark-blue;
        stroke-width: 1px;
    }

    .button rect.active {
        fill: $white;
    }

    .button rect.active + text {
        fill: $blue;
    }

    .button .active, .button .pressed {
        stop-color: $white;
        ; /* navy 70% */
    }
    /*.button #gradient-stop.active, .button #gradient-stop.pressed {
        stop-color: #000f2b; 
    }*/
    .button text {
        font-size: 22px;
        fill: $white;
        pointer-events: none;
        text-anchor: middle;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}
