.model-tile-sizer, .model-tile {
    width: 33.33333%;

    @media screen and (max-width: $scr-md) {
        width: 50%;
    }

    @media screen and (max-width: $scr-sm) {
        width: 100%;
    }
}


.model-tile {
    /*padding: 20px;*/
    .model-border {
        border: 20px solid transparent;
    }

    .model-img {
        background: white;
        width: 100%;
        max-height: 260px;
    }

    .model-details {
        padding: 10px 20px;
    }

    a {
        color: $black;
        text-decoration: none;
    }

    .model-header {
        font-size: 30px;
    }

    .model-info {
        position: absolute;
        top: 0;
        right: 5px;
        padding: 12px 4px;
        background: $dark-blue;
        color: $white;
        border-radius: 0 0 4px 4px;

        &:hover {
            padding: 13px 5px;
        }
    }
}
