.model-tile-sizer, .model-tile {
    width: 20%;

    @media screen and (max-width: $scr-md) {
        width: 33.3333%;
    }

    @media screen and (max-width: $scr-sm) {
        width: 50%;
    }
}


.model-tile {
    color: $dark-blue;

    .model-border {
        border-bottom: 20px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .img-wrapper {
        width: 100%;
        height: 150px;
        background: white;

        .model-img-link {
            display: block;
            width: 100%;
            height: 100%;

            .model-img {
                width: 100%;
                height: 95%;
            }
        }
    }



    .model-details {
        padding: 10px 20px;
        border-top: 1px solid $almost-white;
    }


    .model-header {
        color: $dark-blue;
        font-size: 18px;
        text-decoration: none;
    }

    .model-desc {
        display: none;

        &.active {
            display: block;
        }
    }

    .model-info {
        position: absolute;
        right: 0;
        top: 10px;
        padding: 2px 6px;
        background: $dark-blue;
        color: $white;
        border-radius: 4px 0 0 4px;
    }
}
